.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 50px;
}

#arrays {
    color: blue
}
.button {
    width: 200px;
    height: 100px;
    background-color: blueviolet;
    color: white;
}

